/* @import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
body {
  background: #eee;
  font-family: 'Lily Script One';
} */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Nav bar styling -> to be inherited across site */

/* body{
    padding-top: 60px;
} */

.nav-container {
    width: 100%;
    height:60px;
    top: 0;
    position: fixed;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.nav-bar-left {
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.nav-bar-right {
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.logged-in-nav {
    display: flex;
    text-decoration: none;
    list-style-type: none;

}

.logged-out-nav {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}


.nav {
    color: #666666;
    border-bottom: 4px solid transparent;
    font-size: 15px;
}



.button {
    padding: 0 56px 9px 0;
    margin: 5px;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
}



#buttonbutton{
    border-radius: 3px;
    padding: 15px 15px 0 15px;
    text-decoration: none;
    /* background: none; */
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight: bold;
    /* margin-top:50px; */
    top:50px;
}

button {
    margin-top: 10px;
    border-radius: 3px;
    padding: 15px 15px 0 15px;
    text-decoration: none;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight: bold;
    color:rgb(112, 109, 109);
}



.profile-dropdown {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}


.AddATripButton{
    border-radius: 3px;
    padding: 15px;
    text-decoration: none;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: rgb(99,174,170);
    font-weight: bold;
}

.nav-link {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:active{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height:40px;
    width:40px;
}

#travel {
    margin-bottom: 25px;
}

a.trips{
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: rgb(99,174,170);
    position:relative;
    top:15px;
    font-weight: bold;
}

h2{
    color:rgb(99,174,170);
    position:relative;
    top:15px;

}


/* reservation page css */
.reservation{
    text-align: center;
}



/* Pet page css */




.cardd {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .cardd:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }

  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    line-height: 300px;
    color: #03446A;
    font-size: 10px;
    border-radius: 5px;
    backface-visibility: hidden;
  }

  .backstyle::after{
    content: "\a";
    white-space: pre;
      flex-direction: column;
  }

  .back {
    background: #03446A;
    color: white;
    transform: rotateY( 180deg );
  }






.style{
    text-align: center;
}



.putitdown{
    margin-top: 100px;
    margin-left:200px;
}



.gallary-info{
    text-align: center;
    align-items: center;


}



.page-container {
    margin-top: 100px;
    margin-left: 30px;

}

/* #all-trips {
    text-align: center;
    text-shadow: 0 1px;
    color: #444444;
} */

.trip-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}





/* HERE IS THE WALKER PAGE CSS */

.walker-container{
     background-color: rgb(191, 208, 214);
     padding:50px;
     border-radius: 3px;
     box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
     position: relative;
     overflow: hidden;
     justify-content: center;
     align-items: center;
     display:flex;
     flex-direction: row;
     max-width: 65%;
     width:750px;
     height: 450px;
     margin:auto auto 40px auto;
   }
   .walker--container{
    background: rgba(247, 247, 247, 0.6);
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    padding: 0 24px 24px 114px;
   }

   .walker-info-container{

    display:flex;
    flex-direction:column;
    position:relative;
    justify-content: center;
    align-items: center;
    font-size:25px;
    color:grey;
    left:0;
    position:absolute;
    margin-left: 25px;
   }

   .walker-name {
       margin-top:30px;
       color:rgb(112, 109, 109);

   }


   .walker-info1-container{
    display:flex;
    flex-direction:column;
    width:100%;
    max-width: 400px;
    margin-right: -60px;
 }

 @media only screen and (max-width: 950px) {
    .walker--container{
        background: rgba(247, 247, 247, 0.6);
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        flex-direction: column;
        padding: 0 24px 24px 114px;
       }

     .walker-container{
        padding: 50px;
        background-color: red;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
        position: relative;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display:flex;
        flex-direction: row;
        max-width: 100%;
        width:750px;
        height: auto;
        margin:auto auto 20px auto;
      }

      .walker-info1-container{
        display:flex;
        flex-direction:column;
        width:auto;
        max-width: 300px;
        height:auto;
     }

}


   .walker-info2-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
   }

   .walker-summary{
    position:relative;
    font-size: 26px;
    line-height: 1.3;
    font-weight:700;
    color:rgb(64, 67, 71);
    margin-right: 4px;
    overflow-wrap: break-word;
    margin-bottom:10px;
    font-family: Averta, Avenir, "Helvetica Neue", Calibri, Helvetica, Roboto, sans-serif;
   }

   .walker-location{
    font-size: 12px;
    font-family: Averta, Avenir, "Helvetica Neue", Calibri, Helvetica, Roboto, sans-serif;
    font-style: italic;
    line-height:1.3;
    color: rgb(31, 33, 36);


   }

   .walker-description{
    padding: 10px 0px;
    color: #5A5A5A;
    font-size: 14px;
    hyphens: auto;
    margin-bottom: 4px;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.3;
    color: rgb(31, 33, 36);
    font-family: Averta, Avenir, "Helvetica Neue", Calibri, Helvetica, Roboto, sans-serif;

   }

   .walker-info3-container{
       display:flex;
       flex-direction:row;
       justify-content: center;
       align-items: center;
    }
